

.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight:700;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}



*{
    padding: 0;
    margin: 0;
}
/* nav style */
.main{
    width: 100%;
    background-color: whitesmoke;
    margin: 80px 0px;
    
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 160px 24px 160px;
     ;

}

.nav-title{
    font-size: 32px;
    color: rgb(14, 14, 14);
    text-align: left;
    width: 222px;
    height: 38px;
}
.nav-btn{ 
    text-align: center;
    
    color: rgb(0, 106, 80);
    padding: 15px 30px 15px 30px;
    font-weight: 600;
    border: 1px solid rgb(0, 106, 80);
    font-size: 18px;
    border-radius: 8px;
}
/* banner style */
.banner{
    display: flex;
    margin-left: 160px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    padding: 80px 100px 80px 100px;
    margin-right: 120px;
}

.banner-title{
    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
    /* margin-left: 160px; */
}
.banner-description{
    color: rgb(14, 14, 14);
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    width: 600px;
    
}

.banner-btn{
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    padding: 17px 34px 17px 34px;

}

img{
    
    width: 300px;
    padding-left: 80px;
}

/* The Vision of Future style  */

.Vision-Future{
    display: flex;
    
}
.vision-mini-part{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;

margin-bottom: 50;
padding-left: 120;
margin-left: 160px;
margin-top: 50px;
margin-bottom: 50px;
margin-right: 120px;
    
}

.vision-title-part{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    padding-left: 120;
    margin-left: 160;
}
.vision-description{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin-left: 120px;
}
.Vision-Future{
    display: flex;
    margin-left: 160px;

     
    
    
}
.vision-icon{

    width: 62px;
    height: 62px;
    padding: 0;
     

}
.vision-title{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
}
.vision-description{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin: 12px 0px;
}
.vision-1{
    box-sizing: border-box;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    padding: 32px;
    margin-right: 24px;
    
}
.vision-2{
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(198, 228, 214);
    padding: 32px;
    margin-right: 24px;
}
.vision-3{
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(247, 235, 207);
    padding: 32px;
    margin-right: 120px;
}
.vision-btn{
    border-radius: 8px;
    background: rgb(84, 144, 245);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    padding: 11px 20px 11px 20px;
}


/* news style */

.main-news{

    display: flex;
    margin-left: 80px;
    padding: 40px;
   background-color: rgb(255, 255, 255);
   width: 1100px;
   border-radius: 25px;
   margin-left: 30px;
   /* padding: 0px; */
   /* width: 1226px; */
   /* background-position: center; */
}
.news-title-1{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    margin-left: 160px;
    margin-top: 80px;
    margin-bottom: 20px;
}
.news-description-1{
    color: rgba(14, 14, 14, 0.7);
    /* margin-left: 120px; */
    margin-right: 120px;
    margin-bottom: 20px;
    padding-left: 160px;
    

}

.main-news-2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12;
    margin-left: 30px;
    border-radius: 24px;
    
    

background: rgb(255, 255, 255);
}

.news-img-1{
    /* border-radius:20px; */
    width: 408px;
    height: 306px;
    border-radius: 20px;
    
}
.news-title-2{
    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
}
.news-img-2{
 padding-left: 0px;
 margin-bottom: 15px;
}
.news-description-1{
    margin-left: 0;
    color: rgba(14, 14, 14, 0.7);

    font-size: 16px;
    font-weight: 400;
    padding-left: 120;
    
}
.data{
    color: rgba(14, 14, 14, 0.7);

    font-size: 16px;
    font-weight: 400;
    margin-right: 10px;
    margin-top:10px;

}
.news-btn{
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    margin: 32px 0px;
    padding: 10px 20px 10px 20px;
} 
.news-description-2{
color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
margin-right: 80px;
margin-top: 20px;
}
.news2{
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 32;
padding: 0px;
border-radius: 24px;
background: rgb(255, 255, 255);
/* text-align: center; */
margin-left: 160px;

width: 1300px;
}
/* .main-news2{

} */

