

.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight:700;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}



*{
    padding: 0;
    margin: 0;
}
/* nav style */
.main{
    width: 100%;
    
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 160px 24px 160px;
     ;

}

.nav-title{
    font-size: 32px;
    color: rgb(14, 14, 14);
    text-align: left;
    width: 222px;
    height: 38px;
}
.nav-btn{ 
    text-align: center;
    
    color: rgb(0, 106, 80);
    padding: 15px 30px 15px 30px;
    font-weight: 600;
    border: 1px solid rgb(0, 106, 80);
    font-size: 18px;
    border-radius: 8px;
}
/* banner style */
.banner{
    display: flex;
    margin-left: 160px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    padding: 80px 100px 80px 100px;
    margin-right: 120px;
}

.banner-title{
    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
    /* margin-left: 160px; */
}
.banner-description{
    color: rgb(14, 14, 14);
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    width: 600px;
    
}

.banner-btn{
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    padding: 17px 34px 17px 34px;

}

img{
    
    width: 300px;
    padding-left: 80px;
}

/* The Vision of Future style  */

.Vision-Future{
    display: flex;
    
}
.vision-mini-part{

    margin: 100px;
    
}

.vision-title-part{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    padding: 120;
}
.vision-description{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}
.Vision-Future{
    display: flex;
    margin-left: 160px;
    /* justify-content: space-between; */
    
    
}
.vision-icon{

    width: 62px;
    height: 62px;
     

}
.vision-title{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
}
.vision-description{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin: 12px 0px;
}
.vision-1{
    box-sizing: border-box;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    padding: 32px;
    margin-right: 24px;
    
}
.vision-2{
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(198, 228, 214);
    padding: 32px;
    margin-right: 24px;
}
.vision-3{
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(247, 235, 207);
    padding: 32px;
    margin-right: 160px;
}
.vision-btn{
    border-radius: 8px;
    background: rgb(84, 144, 245);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    padding: 11px 20px 11px 20px;
}
